.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.product_details{
  padding: 100px 0 50px;
}
.product_details .price{
  margin: 20px 0;
}
.product_details .price span,
.product_details .descrption p{
  font-weight: 500;
  color: #878787;
  margin: 0;
}
.product_details .price span,
.product_details .descrption p{
  width: 20%;
}
.product_details .addcart{
  display: flex;
  justify-content: space-around;
}
.product_details .addcart .btn{
  padding: 18px 8px;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
  background: #ff9f00;
  color: white;
  width: 40%;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product_details .addcart .btn svg{
  margin-right: 10px;
}
.product_details .addcart .btn:hover{
  box-shadow: 0 4px 6px 0 rgb(0 0 0 / 12%);
}
.product_details .addcart .btn:first-child{
  margin-right: 20px;
}
.product_details .addcart .btn:last-child{
  background: #fb641b;
}
.product_details .product_img{
  border: 1px solid #f0f0f0;
  padding: 20px;
  display: flex;
  justify-content: center;
}